@use 'base/variables' as v;

.dark-mode{
    background-color: darken( #2c2c34, 10);

    p{
        color: #E6EDF3;
    }
    a,h1,h2,h3,h4{
        color: #E6EDF3;
    }

    .swal2-title{
        color: #2c2c34;
    }

    .formulario fieldset,label, legend, p{
        color: #E6EDF3;

        input:not([type="submit"]), textarea, select{

            background-color:  #2c2c34;
            color: #E6EDF3;

        }
    }

    
    .formulario{
        border: 1px solid #E6EDF3;
        color: #E6EDF3;
    }
}