@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-municipio{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3rem auto;
    overflow: hidden;

    .info-municipio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
}

    .contenedor-mapa {
        iframe {
            max-width: 100%; 
            min-width: 200px; 
            max-height: 30rem;
            min-height: 100%;
        }
    }

.info{

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        font-size: 2.3rem;
        width: 100%;
        margin: 0;
        padding: 0;
    
        li{
            background-color: v.$azul;
            width: 100%;
            padding: 1rem .5rem;
        }
        li:nth-child(odd){
        background-color: v.$rojo;
         }
    
    .delegado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            font-weight: bold;
        }
        .delegado-img{
            background-color: #d1d1d1;
            width: 10rem;
            height: 10rem;
            border-radius: 100%;
            margin: .5rem auto;
            padding: 0;
        }
    }

    h1{
        margin: 0;
        font-size: 2.3rem;
    }
}